body, *, div ,p , a , ul , li  {
  font-family: 'Inter', sans-serif;
}

.text-field {
  border: 1px solid rgba(0,0,0,0.2);
  &:focus-visible {
    box-shadow: none;
    border-color: transparent;
  }
}

.theme-btn-round{
  border: 1px solid rgba(0,0,0,0.2) ;
  border-radius: 20px;
  color: black;
  font-weight: 600;
}